.balloonContainerMain {
    width: 15%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    min-height: 122px;
    position: relative;
}

.animateBalloon1{
  animation: animate1 3.5s ease-in-out infinite alternate;
}

.animateBalloon2{
  animation: animate2 1.5s ease-in-out infinite alternate;
}

.animateBalloon3{
  animation: animate3 2.5s ease-in-out infinite alternate;
}

.green{
  color:rgba(76, 175, 80, 1);
  border:1px solid rgba(76, 175, 80, 1);
  background: rgba(76, 175, 80, 1);
  box-shadow:inset 3px -1px 10px rgba(7, 128, 14, 1);
}
.purple{
  color: rgba(156, 39, 176, 1);
  background:rgba(156, 39, 176, 1);
  border: 1px solid rgba(156, 39, 176, 1);
  box-shadow: inset 5px -1px 10px rgba(113, 19, 130, 1);
}

.blue{
  color: rgb(33, 150, 243);
  border: 1px solid  rgb(33, 150, 243);
  background: rgb(33, 150, 243);
  box-shadow: inset 5px -1px 10px rgb(25, 114, 185);
}

.yellow{
  color:  rgb(255, 193, 7);
  border: 1px solid  rgb(255, 193, 7);
  background: rgb(255, 193, 7);
  box-shadow: inset 5px -1px 10px rgb(218, 167, 12);
}

.red{
  color: rgb(244, 67, 54);
  border: 1px solid  rgb(244, 67, 54);
  background: rgb(244, 67, 54);
  box-shadow: inset 5px -1px 10px rgb(193, 46, 35);
}

.balloon{
    width:55px;
    height:75px;
    border-radius:0;
    border-radius:80% 80% 80% 80%;
    margin: 0 auto;
    position: absolute;
    padding:6px;
    -webkit-transform-origin: bottom center;
    background: none;
    box-shadow: none;
}
 .balloon:before {
   display: inline-block;
     top: 74px;
     position: absolute;
     height: 52px;
     width: 1px;
     margin: 0 auto;
     content: "";
     background: rgba(0,0,0,0.2);
     left: 30px;
}
span.before {
    bottom: 27px;
    z-index: 999;
    position: absolute;
    left: 36px;
    font-size: 10px;
    box-shadow: none;
    background: none;
    border:none;
}

.balloonName{
  bottom: 110px;
    z-index: 1000;
    position: absolute;
    left: 18px;
    font-size: 12px;
}

.balloonN {
    background: beige;
    color: black;
    font-size: 12px;
    position: absolute;
    width: 72px;
    left: 0px;
    top: -19px;
    border-radius: 5px;
    border: 1px solid black;
    opacity: 0;
    transition: all 0.3s ease;
}

/* .balloonN:after{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 20px solid #f00;
} */

.balloonContainer:hover .balloonN{
  opacity: 1;
}

@keyframes animate3 {
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(10px);

  }
}


@keyframes animate2 {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-10deg);

  }
}


@keyframes animate1 {
  0%{
    transform: translateY(0px) rotate(0deg);
  }
  100%{
    transform: translateY(-10px) rotate(30deg);

  }
}
